<!DOCTYPE html>
<html>
<head>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>It is almost finals week</h1>
    <p>I am going to scream</p>
    </div>
</div>

  <%- include ("../partials/nav.ejs") %>
</body>
</html>
